.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-item .active {
  color: brown;
  font-size: 1.2rem;
}

.button-link{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.about-banner{
  background-image: url('https://img.freepik.com/premium-photo/close-up-doctor-front-bright-background_53419-4416.jpg?w=2000');
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
.background-layer{
  height: 60vh;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.63);
  
}
